body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #0073e6;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

#internships {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.internship-entry {
    display: flex;
    margin-bottom: 20px;
}

.company-logo {
    margin-right: 20px;
}

.company-logo img {
    max-width: 100px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    margin: 0;
}

.internship-details p {
    margin: 0;
}